.allUsers{
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 576px){
    .allUsers{
          margin-left: 12px;  
          margin-bottom: 4rem;      
    }
}
