.main{
    height: 80px;    
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 15px;
    width: 100%; 
    z-index: 1000;
}
.logo{
width: 11%;
}
.logo img{
    width: max-content;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    align-items: center;
}
.nav-elements{
    width: 40%;
}
.nav-elements ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-elements ul li{
    list-style: none;
}
.nav-elements ul li a{
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
}
.login-button{
    color: black;
    border: 1px solid #ffd20a;
     padding:  0.4rem 1rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.login-button:hover{
color: white;
background-color: #ffd20a;
}
#check{
    display: none;
}

label #list-btn,
label #cancel{
    display: none;
}
.label-btn{
    display: none;
}


@media only screen and (max-width: 576px){
    .logo{
        width: 30%;
        }
        .logo img{
            width: 100%;
        }

        nav{
            height: 100%;
            margin: 0px 20px;
        }

        label #list-btn{
            display: block;
        }
        .label-btn{
            display: block;
        }
        .nav-elements ul{     
            position: fixed;
            top: 80px;
            background-color: black;
            width: 100%;
            opacity: 0.8;
            left: -100%;
            height: 100vh;
            z-index: 100000;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
}
.nav-elements ul li a{
 color: white;
}
.nav-elements ul{
    display: block;
    text-align: center;
}

#check:checked ~ .nav-elements ul{
    left: 0;
}
/* .nav-elements ul li {
    display: block;
    text-align: center;
    justify-content: center;
} */
}