.main{
    height: 80px;    
}
.logo{
width: 11%;
}
.logo img{
    width: max-content;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    align-items: center;
}
.nav-elements{
    width: 40%;
}
.nav-elements ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-elements ul li{
    list-style: none;
}
.nav-elements ul li a{
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}
.login-button{
    color: black;
    border: 1px solid #ffd20a;
     padding:  0.4rem 1rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.login-button:hover{
color: white;
background-color: #ffd20a;
}