.image {
  position: relative;
}
.image-details {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 10%;
}
.heading1 {
  font-size: 72px;
}
.image-details h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.image-details h1,
.provide {
  font-family: "Oswald", sans-serif;
}
.provide {
  margin-top: 1rem;
}
.mySwiper {
  height: max-content;
}
.thirdOne {
  background-color: rgba(0, 0, 0, 0.5);
  width: 30%;
  text-align: center;
  padding: 21px;
  position: absolute;
  top: 26%;
  left: 7%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.thirdOne h1{
  font-family: "Oswald", sans-serif;
}
.handytools{
  font-size: 60px;
  color: white;
  font-weight: bold;
}

/* mobile responsive  */
@media only screen and (max-width: 576px) {
  .image-details {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
  }
  .image-details h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 20px;
  }
  .heading1 {
    font-size: 28px;
  }
  .learnmore-button {
 display: none;
  }
  .provide {
    margin-top: 0.4rem;
    font-size: 11px;
  }
  .thirdOne {
      background-color: none;
      width: 140px;
      text-align: center;
      padding: 7px;
      position: absolute;
      top: 15%;
      left: 3%;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
  }
  .handytools{
    font-size: 20px;
  }
}
