.image{
    position: relative;
}
.image-details{
    width: 40%;
    position: absolute;
    top: 30%;
    left: 10%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.heading1{
    font-size: 72px;
}
.image-details h2{
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 35px;
}
.image-details h1, .provide{
    font-family: "Oswald", sans-serif;
}
.provide{
    margin-top: 1rem;
}
.mySwiper{
    height: max-content;
}
.thirdOne{
    background-color: rgba(0, 0, 0, 0.5);
    width: 20%;
    text-align: center;
    padding: 21px;
}

@media only screen and (max-width: 576px) {
    .image-details{
        width: 50%;
        position: absolute;
        top: 10%;
        left: 10%;
    }  
    .image-details h2{
        font-family: "Oswald", sans-serif;
        font-weight: 200;
        font-size: 20px;
    }
    .heading1{
        font-size: 30px;
    }
    .learnmore-button{
       display: none;
    }
    .provide{
        margin-top: 0.5rem;
        font-size: 14px;
    }
    .thirdOne{
        display: none;
    }
}