.contactus-container{
    background-image: url(../../../images/background.png);
    background-repeat: no-repeat;
    height: 450px;
    margin: 7rem auto;
}   
.contactus{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    padding-top: 22px;
}
.stay-connected{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}
.contactus-container form{
    font-family: "Roboto Condensed", sans-serif;

}
@media only screen and (max-width: 576px){
    .stay-connected{
        font-size: 25px;
    }
}