.product img{
width: 88%;
margin: 0px auto;
}
.product{
    width: 270px;
    padding: 1rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.product h2{
 text-align: center;
 font-family: "Roboto Condensed", sans-serif;
}
.product-details{
    margin-top: 0.8rem;
}
.product-details p{
    margin: 0.2rem 0px;
    font-family: "Roboto Condensed", sans-serif;
}
.purchase-button{
    font-family: "Roboto Condensed", sans-serif;
}
.product h2{
    font-size: 24px;
}

@media only screen and (max-width: 576px) {
    .product{
        width: 99%;
        padding: 0.5rem;
        margin: 0px auto;
    }
    .product img{
        width: 50%;
        margin: 0px auto;
        }
        .product p{
            font-size: 14px;
        }
        .product h2{
            font-size: 20px;
        }
}