.product-container{
    width: max-content;
    margin-top: 56px;
    margin-left:  auto;
    margin-right:  auto;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: max-content;
     margin-top: 30px;
}
.productTag{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

@media only screen and (max-width: 576px) {
    .product-container{
        width: 95%;
        margin-top: 56px;
        margin-left:  auto;
        margin-right:  auto;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
         margin-top: 30px;
    }
}