.review-main-parent{
    width: 65%;
    margin: 1rem auto;
    font-family: "Roboto Condensed", sans-serif;

}
.review{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    text-align: center;
}

.review-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.newReview{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 576px) {

    .review-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}