.review-main-parent{
    width: 65%;
    margin: 1rem auto;
    font-family: "Roboto Condensed", sans-serif;

}
.review{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    text-align: center;
}

.review-parent {
    display: flex;
    justify-content: space-evenly;
}
.newReview{
    display: flex;
    justify-content: space-evenly;
}