.backgrundpng {
  position: relative;
  background-color: black;
  margin: 120px 0px;
  padding: 1.5rem 0px;
  color: white;
}

.line-bg {
  position: absolute;
  left: 5%;
  top: 30px;
  z-index: 0;
}

.line-bg-child {
  opacity: 0.4;
}

.radial {
  position: absolute;
  top: -147px;
  left: 5%;
  background-color: #ffffff;
  width: 700px;
  height: 250px;
  filter: blur(192px);
  opacity: 0.4;
  z-index: 1;
  border-radius: 999px;
}

.business-main {
  position: relative;
  z-index: 3;
}
.taglineCount {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
}
.counter-icon {
  display: flex;
  justify-content: center;
}
.main-icon-ele-parent {
  margin-top: 56px;
}
.icon-ele-parent h2 {
  font-size: 33px;
  font-weight: bold;
  width: 129px;
}
.icon-ele-parent p {
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .backgrundpng {
    position: relative;
    background-color: #000000;
    height: 188px;
    margin: 40px 0px;
  }
  .business-main {
    margin-top: 12px;
  }

  .radial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 300px;
    height: 200px;
    filter: blur(152px);
    opacity: 0.5;
    z-index: 1;
    border-radius: 999px;
  }

  .taglineCount {
    font-size: 22px;
  }
  .icon-ele-parent h2 {
    font-size: 22px;
    font-weight: bold;
    width: 50%;
  }
  .icon-ele-parent p {
    font-size: 14px;
    font-weight: bold;
  }
  .counter-icon {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .main-icon-ele-parent {
    margin-top: 0px;
  }
}
