
.backgrundpng {
    position: relative;
    background-color: black;
    margin: 120px 0px;
    padding: 1.5rem 0px;
    color: white;
    
}

.line-bg {
    position: absolute;
    left: 5%;
    top: 30px;
    z-index: 0; 
}

.line-bg-child {
   opacity: .4;
}

.radial-parent {
    position: absolute;
    top: -147px;
    left: 5%;
}

.radial {
    background-color: #ffffff;
    width: 700px;
    height: 250px;
    filter: blur(192px);
    opacity: .4;
    z-index: 1; 
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    -webkit-filter: blur(192px);
}

.business-main {
    position: relative;
    z-index: 3; 
}
.taglineCount{
    font-size: 32px;
    font-family: "Oswald", sans-serif;
 }
.counter-icon{
 display: flex;
 justify-content: center;
}
.main-icon-ele-parent{
    margin-top: 56px;
}
.icon-ele-parent h2{
    font-size: 33px;
     font-weight: bold;
     width: 129px;
}
.icon-ele-parent p{
    font-size: 18px;
    font-weight: bold;
}


@media only screen and (max-width: 576px) {
    .backgrundpng{
        position: relative;
        background-color: rgba(228, 228, 228, 0.3); /* 30% opacity */
        height: 180px;
        margin: 40px 0px;
    }
    .business-main{
margin-top: 12px;
}
    .taglineCount{
        font-size: 22px;
    }
    .icon-ele-parent h2{
        font-size: 22px;
         font-weight: bold;
         width: 50%;
    }
    .icon-ele-parent p{
        font-size: 14px;
        font-weight: bold;
    }
    .icon-ele-parent{
    }
    .counter-icon{
        display: flex;
        justify-content: center;
      width: 50%;   
    }
    .main-icon-ele-parent{
        margin-top: 0px;
    }

}
